.bubble {
    margin : 50px;
    padding: 15px;
    position: relative;
    border: 5px solid #ccc;
    border-radius: 10px;
}

.bubble:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50px;
    border-top: 20px solid #ccc;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}